<!doctype html>
<html><!-- InstanceBegin template="/Templates/Main.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- InstanceBeginEditable name="doctitle" -->
<title>CP's Furniture</title>
<!-- InstanceEndEditable -->
<link href="../CSS/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../CSS/NF.css">
<link rel="stylesheet" href="../CSS/Ani.css">
<link rel="stylesheet" href="../CSS/Shop.css">
<link rel="stylesheet" href="../CSS/font-awesome.min.css">
<link rel="shortcut icon" type="img/x-icon" href="../Image/icon.png"/>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
</head>

<body>
<header>
  <div class="top container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-left">Call: 0908 908 908</div>
        <div class="col-md-5 text-center">Summer sale discount off 50%! Shop Now</div>
        <div class="col-md-3 text-right"><i class="fa fa-facebook pr-3"></i><i class="fa fa-instagram pr-3"></i><i class="fa fa-twitter pr-3"></i><i class="fa fa-youtube"></i></div>
      </div>
    </div>
  </div>
</header>
<div class="container py-3">
<nav class="navbar navbar-expand-lg navbar-light bg-white">
<a class="navbar-brand" href="index.html"><img src="../Image/LOGO.png" class="img-logo"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent1">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active"> <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a> </li>
    <li class="nav-item dropdown"> <a  href="Shop.html"  class="nav-link dropdown-toggle"id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Shop </a>
      <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown1">
        <div class="row">
          <div class="col-md-2">
            <h5 class="dropdown-header">Bedroom</h5>
            <a class="dropdown-item" href="Shop.html">Beds</a> <a class="dropdown-item" href="Shop.html">Beddings</a> <a class="dropdown-item" href="Shop.html">Drawers</a> <a class="dropdown-item" href="Shop.html">Nights-tands</a> </div>
          <div class="col-md-2">
            <h5 class="dropdown-header">Living room</h5>
            <a class="dropdown-item" href="Shop.html">Chairs</a> <a class="dropdown-item" href="Shop.html">Sofas</a> <a class="dropdown-item" href="Shop.html">Tables</a> <a class="dropdown-item" href="Shop.html">Shelves</a> </div>
          <div class="col-md-2">
            <h5 class="dropdown-header">Furniture</h5>
            <a class="dropdown-item" href="Shop.html">Tables</a> <a class="dropdown-item" href="Shop.html">Chairs</a> <a class="dropdown-item" href="Shop.html">Indoor Furniture</a> <a class="dropdown-item" href="Shop.html">Outdoor Furniture</a> </div>
          <div class="col-md-2">
            <h5 class="dropdown-header">Décor</h5>
            <a class="dropdown-item" href="Shop.html">Mirrors</a> <a class="dropdown-item" href="Shop.html">Clocks</a> <a class="dropdown-item" href="Shop.html">Vases</a> <a class="dropdown-item" href="Shop.html">Wall decors</a> </div>
          <div class="col-lg-4"> <img src="../Image/Nav-shop.png" alt="" class=" nav-shop-img px-2" > </div>
        </div>
      </div>
    </li>
    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="Product.html" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Product </a>
      <div class="dropdown-menu mega-menu-2" aria-labelledby="navbarDropdown1">
        <div class="row">
          <div class="col-md-3">
            <h5 class="dropdown-header">New Arrivals</h5>
            <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> </div>
          <div class="col-md-3">
            <h5 class="dropdown-header">Product Feature</h5>
            <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> </div>
          <div class="col-md-3">
            <h5 class="dropdown-header">Sale</h5>
            <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> <a class="dropdown-item" href="Product.html">
            <div class="row">
              <div class="col-lg-6"><img src="../Image/Chair1.png" alt=""></div>
              <div class="col-lg-6">
                <h6>Chair</h6>
                <p>$19.99</p>
              </div>
            </div>
            </a> </div>
          <div class="col-md-3"> <img src="../Image/Nav-shop.png" alt="" class="nav-shop-img px-2 " > </div>
        </div>
      </div>
    </li>
    <li class="nav-item"> <a class="nav-link" href="Blog.html">Blog</a> </li>
    <li class="nav-item"> <a class="nav-link" href="Contact.html">Contact us</a> </li>
  </ul>
  <div class="text-primary float-right">
    <div class="row" >
      <div class="col-md-12">
        <div class="btn-group"> <a href="#" class="btn w-100">
          <form class="search">
            <div class="search__wrapper">
              <input name="" placeholder="Search for" class="search__field">
              <button type="submit" class="fa fa-search search__icon text-primary"></button>
            </div>
          </form>
          </a> <a href="#" class="btn w-100"> 
          <!-- The Modal (giỏ hàng) -->
          <button id="cart" class="btn dropdown-toggle text-primary" data-toggle="dropdown"> <i class="fa fa-opencart" aria-hidden="true"></i> </button>
          <div id="myModal-cart" class="modal-lg dropdown-menu">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Giỏ Hàng</h5>
                <span class="close">×</span> </div>
              <div class="modal-body">
                <div class="cart-row"> <span class="cart-item cart-header cart-column">Sản Phẩm</span> <span class="cart-price cart-header cart-column">Giá</span> <span class="cart-quantity cart-header cart-column">Số Lượng</span> </div>
                <div class="cart-items"> </div>
                <div class="cart-total"> <strong class="cart-total-title">Tổng Cộng:</strong> <span class="cart-total-price">0VNĐ</span> </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-footer">Đóng</button>
                <button type="button" class="btn btn-primary order">Thanh Toán</button>
              </div>
            </div>
          </div>
          <!-- Kết thúc giỏ hàng --> 
          </a>
          <div class="btn-group">
            <button class="btn dropdown-toggle text-primary" data-toggle="dropdown" > <i class="fa fa-user"></i> </button>
            <div class="dropdown-menu btn-user">
              <div class="d-flex"> <a class="btn btn-outline-primary m-2 dropdown-item" data-toggle="modal" data-target="#modal1">Sign Up</a> <a class="btn btn-primasry m-2 dropdown-item"  data-toggle="modal" data-target="#modal2">Sign In</a></div>
            </div>
            <div class="modal fade" id="modal1" >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                      <div class="container">
                        <div class="row wow fadeIn">
                          <div class="col-md-4 mb-4 white-text text-center text-md-left">
                            <h1 class="display-4 font-weight-bold">Sign UP</h1>
                            <hr class="hr-light">
                            <p> <strong>For the more information</strong> </p>
                            <p class="mb-4 d-none d-md-block"> <strong>Quickly get information from new leads and customers by signing up .WIth their information, you can funnel them into new accounts in an instant.Follow us on FACEBOOK</strong> </p>
                          </div>
                          <div class="col-md-8 col-xl-8 mb-4">
                            <div class="card">
                              <div class="card-body">
                                <form>
                                  <p class="h4 text-center mb-4">Sign up</p>
                                  <div class="md-form"> <i class="fa fa-user prefix grey-text"></i>
                                    <input type="text" class="form-control w-100">
                                  </div>
                                  <label for="materialFormRegisterNameEx">Your name</label>
                                  <div class="md-form"> <i class="fa fa-envelope prefix grey-text"></i>
                                    <input type="email" id="materialFormRegisterEmailEx" class="form-control">
                                    <label for="materialFormRegisterEmailEx">Your email</label>
                                  </div>
                                  <div class="md-form"> <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                                    <input type="email" id="materialFormRegisterConfirmEx" class="form-control">
                                    <label for="materialFormRegisterConfirmEx">Confirm your email</label>
                                  </div>
                                  <div class="md-form"> <i class="fa fa-lock prefix grey-text"></i>
                                    <input type="password" id="materialFormRegisterPasswordEx" class="form-control">
                                    <label for="materialFormRegisterPasswordEx">Your password</label>
                                  </div>
                                  <div class="md-form"> <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                                    <input type="password" id="materialFormRegisterConfirmEx1" class="form-control">
                                    <label for="materialFormRegisterPasswordEx1">Confirm Your password</label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck12">
                                    <input type="checkbox" class="custom-control-input">
                                    <label for="defaultCheck12" class="grey-text">Accept the <a href="#" class="blue-text"> Terms and Conditions</a> </label>
                                  </div>
                                  <div class="text-center mt-4">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">Register</button>
                                    <div class="modal fade" id="myModal" role="dialog">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title">OOPS!</h4>
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                          </div>
                                          <div class="modal-body">
                                            <p>Connection ERROR.........!</p>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer d-flex flex-row justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!--		  SIGN IN-->
            <div class="modal fade" id="modal2">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                      <div class="container">
                        <div class="row wow fadeIn">
                          <div class="col-md-4 mb-4 white-text text-center text-md-left">
                            <h1 class="display-4 font-weight-bold">Sign UP</h1>
                            <hr class="hr-light">
                            <p> <strong>For the more information</strong> </p>
                            <p class="mb-4 d-none d-md-block"> <strong>Quickly get information from new leads and customers by signing up .WIth their information, you can funnel them into new accounts in an instant.Follow us on FACEBOOK</strong> </p>
                          </div>
                          <div class="col-md-8 col-xl-8 mb-4">
                            <div class="card">
                              <div class="card-body">
                                <form>
                                  <p class="h4 text-center mb-4">Sign up</p>
                                  <div class="md-form"> <i class="fa fa-envelope prefix grey-text"></i>
                                    <input type="email" id="materialFormRegisterEmailEx2" class="form-control">
                                    <label for="materialFormRegisterEmailEx2">Your email</label>
                                  </div>
                                  <div class="md-form"> <i class="fa fa-lock prefix grey-text"></i>
                                    <input type="password" id="materialFormRegisterPasswordEx3" class="form-control">
                                    <label for="materialFormRegisterPasswordEx3">Your password</label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck2">
                                    <input type="checkbox" class="custom-control-input">
                                    <label for="defaultCheck2" class="grey-text">Remember me </label>
                                  </div>
                                  <div class="text-center mt-4">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal2">Sign IN</button>
                                    <div class="modal fade" id="myModal2" role="dialog">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title">OOPS!</h4>
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                          </div>
                                          <div class="modal-body">
                                            <p>Connection ERROR.........!</p>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer d-flex flex-row justify-content-between">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </nav>
</div>
<!-- InstanceBeginEditable name="Main" -->
<main>
  <div class="container-fluid">
    <div id="slider-animation" class="carousel slide" data-ride="carousel"> 
      <!-- Indicators --> 
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active"> <img src="../Image/Banner (1).jpg">
          <div class="text-box nav-heading">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h1 class="wow slideInRight" data-wow-duration="2s">Welcome</h1>
                <h2 class="wow slideInLeft" data-wow-duration="2s">SHOP NOW</h2>
              </div>
            </div>
            <h3 class="float-right text-primary">HOME/ Product</h3>
          </div>
        </div>
        <div class="carousel-item"> <img src="../Image/Banner (2).jpg">
          <div class="text-box nav-heading">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h1 class="wow slideInRight" data-wow-duration="2s">Welcome</h1>
                <h2 class="wow slideInLeft" data-wow-duration="2s">SHOP NOW</h2>
              </div>
            </div>
            <h3 class="float-right text-primary">HOME/ Product</h3>
          </div>
        </div>
        <div class="carousel-item"> <img src="../Image/Banner (1).jpg">
          <div class="text-box nav-heading">
            <div class="row align-items-center">
              <div class="col-md-6  wow slideInRight" data-wow-duration="4s">
                <h1 class="wow slideInRight" data-wow-duration="2s">Welcome</h1>
                <h2 class="wow slideInLeft" data-wow-duration="2s">SHOP NOW</h2>
              </div>
            </div>
            <h3 class="float-right text-primary">HOME/ Product</h3>
          </div>
        </div>
      </div>
      
      <!-- Left and right controls --> 
      <a class="carousel-control-prev" href="#slider-animation" data-slide="prev"> </a> <a class="carousel-control-next" href="#slider-animation" data-slide="next"> </a> </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row ">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img src="../Image/hummingbird-printed-t-shirt.jpg" /></div>
              <div class="tab-pane" id="pic-2"><img src="../Image/hummingbird-printed-t-shirt(1).jpg "/></div>
              <div class="tab-pane" id="pic-3"><img src="../Image/hummingbird-printed-t-shirt (4).jpg"/></div>
						  <div class="tab-pane" id="pic-4"><img src="../Image/hummingbird-printed-t-shirt(3).jpg"/></div>
					
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="../Image/hummingbird-printed-t-shirt.jpg" /></a></li>
              <li><a data-target="#pic-2" data-toggle="tab"><img src="../Image/hummingbird-printed-t-shirt(1).jpg "/></a></li>
              <li><a data-target="#pic-3" data-toggle="tab"><img src="../Image/hummingbird-printed-t-shirt (4).jpg"/></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="../Image/hummingbird-printed-t-shirt(3).jpg"/></a></li>
						  
            </ul>
          </div>
          <div class="details col-md-6 pt-5">
            <h3 class="product-title text-dark">men's shoes fashion</h3>
            <h4 class="p-price text-primary m-0"> $180 </h4>
            <span class="text-light">Free shipping</span> 
            <!--<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>-->
            <div class="d-flex my-3">
              <h3 class="text-primary mr-3">Colors</h3>
              <h5 class="colors">
				<span class="color bg-dark not-available" data-toggle="tooltip" title="Not In store"></span>
							<span class="color bg-light"></span>
							<span class="color"></span>
				</h5>
            </div>
            <div class="d-flex my-3">
              <h3 class="text-primary mr-5">Sizes</h3>
              <h5 class="sizes"> <span class="p-size mx-2" data-toggle="tooltip" title="small">s</span> <span class="p-size mx-2" data-toggle="tooltip" title="medium">m</span> <span class="p-size mx-2" data-toggle="tooltip" title="large">l</span> <span class="p-size mx-2" data-toggle="tooltip" title="xtra large">xl</span> </h5>
            </div>
            <div class="d-flex my-3">
              <h3 class="text-primary mr-5">Quantity</h3>
              <input class="qty-input form-group border-light" type="number" value="1"/>
            </div>
            <div class="action text-center my-5">
              <button class="add-to-cart btn btn-primary" type="button">add to cart</button>
              <button class="like btn btn-primary" type="button"><i class="fa fa-heart"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5"> 
<div class="row">
        <div class="col-3">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item"> <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone">DESCRIPTION</a> </li>
            <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo">PRODUCT DETAILS</a> </li>
<!--            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabthree">Tab 3</a> </li>-->
          </ul>
        </div>
        <div class="col-9">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
              <p class="text-primary">In my soul and absorb its power, like the form of a beloved mistress, then I often think with longing. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <p class="text-primary"> Made in Viet Nam by one of the best company in the world.</p>
            </div>
<!--            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <p class="">Which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite. When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms.</p>
            </div>-->
          </div>
        </div>
      </div>
    </div>
 
	<div class="container my-5">
			  <div class="container heading">
      <div class="textRevealContainer ">
        <div class="textReveal rotateY">
          <div>
            <div>
              <h1 class="text-primary">Related Items</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div class="row">
	<div class="col-md-4 col-sm-6">
          <div class="product-grid3">
            <div class="product-image3"> <a href="#"> <img class="pic-1" src="../Image/customizable-mug.jpg"> <img class="pic-2 " src="../Image/customizable-mug(1).jpg"> </a>
              <ul class="social">
                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                <li><a href="#"><i class="fa fa-search" data-toggle="modal" data-target="#product_view"></i></a></li>
                <li><a href="#"><i class="fa fa-opencart"></i></a></li>
              </ul>
              <span class="product-new-label">New</span> </div>
            <div class="product-content d-flex">
              <h5 class="title col-6"><a href="#">Mug</a></h5>
              <div class="price col-6"> <!-- .50--> $75.00 </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="product-grid3">
            <div class="product-image3"> <a href="#"> <img class="pic-1" src="../Image/forma.jpg"> <img class="pic-2" src="../Image/forma(1).jpg"> </a>
              <ul class="social">
                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                <li><a href="#"><i class="fa fa-search" data-toggle="modal" data-target="#product_view"></i></a></li>
                <li><a href="#"><i class="fa fa-opencart"></i></a></li>
              </ul>
            </div>
            <div class="product-content d-flex">
              <h5 class="title col-6"><a href="#">Forma</a></h5>
              <div class="price col-6"> <!-- .50--> $75.00 </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="product-grid3">
            <div class="product-image3"> <a href="#"> <img class="pic-1" src="../Image/mug-the-adventure-begins.jpg"> <img class="pic-2" src="../Image/mug-the-adventure-begins(1).jpg"> </a>
              <ul class="social">
                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                <li><a href="#"><i class="fa fa-search" data-toggle="modal" data-target="#product_view"></i></a></li>
                <li><a href="#"><i class="fa fa-opencart"></i></a></li>
              </ul>
              <span class="product-new-label">New</span> </div>
            <div class="product-content d-flex">
              <h5 class="title col-6"><a href="#">Table</a></h5>
              <div class="price col-6"> <!-- .50--> $75.00 </div>
            </div>
          </div>
        </div>
	</div>
	
	</div>
	
</main>
<!-- InstanceEndEditable -->
<footer>
  <div class="container-fluid bottom pt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12"> <a class="py-4 d-block pb-2" href="#"><img src="../Image/LOGO.png" class="img-logo"></a>
          <p><i class="fa fa-map-marker"></i> 002 Vuon Lai, Tan Thanh, Tan Phu, Ho Chi Minh City</p>
          <p><i class="fa fa-phone"></i> 0908 908 908</p>
          <p><i class="fa fa-envelope"></i> chiphambb@mail.com</p>
        </div>
        <div class="col-md-2 col-sm-6">
          <h5 class="py-4 d-block">Our Products</h5>
          <p>New arrivals</p>
          <p>Product Feature</p>
          <p>Sale items</p>
        </div>
        <div class="col-md-2 col-sm-6">
          <h5 class="py-4 d-block">Useful links</h5>
          <a href="#">
          <p>About us</p>
          </a> <a href="Blog.html">
          <p>Blog</p>
          </a> <a href="Contact.html">
          <p>Contact</p>
          </a> </div>
        <div class="col-md-5 col-sm-12">
          <h5 class="py-4 d-block">Useful links</h5>
          <p>Sign up to get the lastest news and updates</p>
          <div class="text-input">
            <input type="text" id="input1" placeholder="Your email">
            <label href="#" for="input1">Submit</label>
          </div>
        </div>
      </div>
      <div class="icon-media text-right pb-2 text-primary"> <i class="fa fa-facebook pr-3"></i><i class="fa fa-instagram pr-3"></i><i class="fa fa-twitter pr-3"></i><i class="fa fa-youtube"></i></div>
    </div>
  </div>
</footer>
<script src="../JS/jquery-3.3.1.min.js"></script> 
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="../JS/popper.min.js"></script> 
<script src="../JS/bootstrap-4.3.1.js"></script> 
<script src="../JS/Main.js"></script>
</body>
<!-- InstanceEnd --></html>
